{:paths ["src" "resources" "target/classes"]

 :deps
 {org.clojure/clojure                 {:mvn/version "1.11.1"}
  org.clojure/core.match              {:mvn/version "1.0.0"}
  org.clojure/core.rrb-vector         {:mvn/version "0.1.1"}
  org.clojure/math.combinatorics      {:mvn/version "0.1.6"}
  org.clojure/spec.alpha              {:mvn/version "0.3.218"}
  org.clojure/core.cache              {:mvn/version "1.0.225"}
  clojure.java-time/clojure.java-time {:mvn/version "0.3.3"}
  medley/medley                       {:mvn/version "1.4.0"}
  spootnik/unilog                     {:mvn/version "0.7.30"}

  ;; hashing and byte array utils
  com.google.guava/guava              {:mvn/version "31.1-jre"}

  ;; storage options
  ;; redis
  com.taoensso/carmine                {:mvn/version "3.2.0"}
  com.taoensso/nippy                  {:mvn/version "3.2.0"}
  ;; foundationdb
  org.foundationdb/fdb-java           {:mvn/version "6.3.23"}
  me.vedang/clj-fdb
  {:git/url "https://github.com/FiV0/clj_fdb.git"
   :git/sha "eb53bc10bff660eec1b7e6782411b71bfcdfe9b3" }
  #_{:local/root "../clj_fdb"}
  #_{:mvn/version "0.3.0"}


  ;; in flux
  com.dean/interval-tree
  {:git/url "https://github.com/FiV0/interval-tree.git"
   :git/sha "22520d57bffbb564a9d7e08b310519661f5fd18e"}
  #_{:local/root "../interval-tree"}
  #_{:mvn/version "0.1.2"}

  org.clojure/data.avl
  {:git/url "https://github.com/FiV0/data.avl.git"
   :git/sha "71d07d4b134a53afe64f2fe5a8e5063c87b14d3e"}
  #_{:local/root "../data.avl/"}
  #_{:mvn/version "0.1.0"}

  persistent-sorted-set/persistent-sorted-set
  {:git/url "https://github.com/FiV0/persistent-sorted-set.git"
   :git/sha "5481a0fb2b8fbfc439982da94e378b47e63ffcea"}
  #_{:git/url "https://github.com/tonsky/persistent-sorted-set.git"
     :git/sha "1fb499171e0d020ee258e759a074d5cf5e6c1c11"}
  #_{:local/root "../persistent-sorted-set/"}
  #_{:mvn/version "0.2.1"}}

 :aliases
 {:dev
  {:extra-paths ["dev"]
   :extra-deps  {org.clojars.quoll/asami                  {:mvn/version "2.3.0"}
                 datalevin/datalevin                      {:mvn/version "0.7.7"}
                 com.xtdb/xtdb-core                       {:mvn/version "1.21.0"}
                 org.clojure/tools.namespace              {:mvn/version "1.1.0"}
                 com.lambdaisland/classpath               {:mvn/version "0.0.27"}
                 vvvvalvalval/scope-capture               {:mvn/version "0.3.3"}
                 com.clojure-goes-fast/clj-async-profiler {:mvn/version "1.0.3"}}
   :jvm-opts ["-XX:-OmitStackTraceInFastThrow"
              "--add-opens=java.base/java.nio=ALL-UNNAMED"
              "--add-opens=java.base/sun.nio.ch=ALL-UNNAMED"
              "-Djdk.attach.allowAttachSelf"]}

  :test
  {:extra-paths ["test"]
   :extra-deps  {lambdaisland/kaocha {:mvn/version "1.0.632"}}}

  :build {:extra-deps {io.github.clojure/tools.build {:git/tag "v0.5.1" :git/sha "21da7d4"
                                                      :exclusions [org.slf4j/slf4j-nop]}}
          :ns-default build}}

 :mvn/repos
 {"central"        {:url "https://repo1.maven.org/maven2/"}
  "clojars"        {:url "https://clojars.org/repo"}}}
